<h1><%= @restaurant.name %>

<p>Type of food: <%= @restaurant.kind %></p>
<p>Favorite dish: <%= @restaurant.bestdish %></p>

<button><%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %></button>

<button><%= link_to "See list of favorite restaurants", restaurants_path %></button>

<%# I guess this saves it to restaurant.destroy %>
<%= form_for @restaurant, html: {method: "delete"} do |f| %>
  <%= f.submit "Delete #{@restaurant.name}?!?!?" %>
<% end %>